{% assign sections = site.data.data.projects %}
{% if sections %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Projects
  </h2>

  {% for section in sections %}
    <h4 class="section-subtitle">
      {% if section.url %}
        <a href="{{ section.url }}" target="_blank">{{ section.title }}</a>
      {% else %}
        {{ section.title }}
      {% endif %}
    </h4>

    {% if section.intro %}
      <div class="intro">
        {{ section.intro | markdownify }}
      </div><!--//intro-->
    {% endif %}

    {% for project in section.assignments %}
      <div class="item">
        <div class="item">
        {% if project.link %}
          <li><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></li>
        {% else %}
          <li>{{ project.title }}</li>
        {% endif %}

        {% if project.affiliation %}
          <div class="company">{{ project.affiliation }}</div>
        {% endif %}
        {% if project.time %}
          <div class="time">{{ project.time }}</div>
        {% endif %}

        <div class="details">
          {% if project.details %}
            {{ project.details | markdownify }}
          {% elsif project.tagline %}
            {{ project.tagline | markdownify }}
          {% endif %}
        </div><!--//details-->
      </div><!--//item-->

    {% endfor %}
  {% endfor %}

</section><!--//section-->
{% endif %}
