{% assign sections = site.data.data.projects %}
{% if sections %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Projects
  </h2>

  {% for section in sections %}
    <h3 class="job-title"> 
      {% if section.url %}
        <a href="{{ section.url }}" target="_blank">{{ section.title }}</a>
      {% else %}
        {{ section.title }}
      {% endif %}
    </h3>


    {% if section.title == "Seminar Work" %}
      <p class="more-link" style="margin-top:-2px;">
        <a href="{{ '/seminar/' | relative_url }}">See Seminar Work (PDF/PPT) →</a>
      </p>
    {% endif %}

    {% if section.intro %}
      <div class="intro">
        {{ section.intro }}
      </div>
    {% endif %}

    {% for project in section.assignments %}
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">
              {% if project.link %}
                <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
              {% else %}
                {{ project.title }}
              {% endif %}
            </h3>
            {% if project.time %}
              <div class="time">{{ project.time }}</div>
            {% endif %}
          </div><!--//upper-row-->

          {% if project.affiliation %}
            <div class="company">{{ project.affiliation }}</div>
          {% endif %}
        </div><!--//meta-->

        {% if project.details %}
          <div class="details">{{ project.details }}</div>
        {% elsif project.tagline %}
          <div class="details">{{ project.tagline }}</div>
        {% endif %}

        {%- comment -%}
        파일 임베드는 /seminar/에서만 처리
        {%- endcomment -%}
      </div><!--//item-->
    {% endfor %}
  {% endfor %}

</section><!--//section-->
{% endif %}
