{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">
    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}
  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html place='sidebar' %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

  <!-- ✅ 여기(닫기 전에) 넣어야 사이드바에 표시됨 -->
  <div class="container-block">
    <h2 class="container-block-title">Navigation</h2>
    <ul class="list-unstyled contact-list">
      <li><i class="fas fa-user"></i> <a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><i class="fas fa-user"></i> <a href="{{ '/overview/' | relative_url }}">Overview</a></li>
      <li><i class="fas fa-book"></i> <a href="{{ '/publications/' | relative_url }}">Publications</a></li>
      <li><i class="fas fa-briefcase"></i> <a href="{{ '/projects/' | relative_url }}">Projects</a></li> 
      
    </ul>
  </div>

</div><!--//sidebar-wrapper-->
