---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <button onclick="print()" class="print-button d-print-none">
    <i class="fas fa-file-pdf"></i>Print
  </button>

  <button onclick="generatePDF()" class="pdf-button d-print-none" id="pdfButton">
    <i class="fas fa-file-pdf"></i>PDF
  </button>


  <!-- ✅ 오른쪽 상단 링크 -->
  <nav class="toplinks d-print-none">
    <!-- 루트(/): 사이드바만 보이는 빈 페이지 -->
    <a href="{{ '/' | relative_url }}">About</a>
    <!-- 개요 페이지(/overview/): 기존 홈 콘텐츠 전부 -->
    <a href="{{ '/overview/' | relative_url }}">Overview</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/projects/' | relative_url }}">Projects</a>
    <a href="https://docs.google.com/document/d/1W_OZzRfeHJns1BMMXdq74GmU2znqBCtC/edit?usp=sharing&ouid=113452926778106786423&rtpof=true&sd=true" target="_blank">CV</a>
  </nav>




  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/pdf-generator.js"></script>
</body>

</html>