---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <button onclick="print()" class="print-button d-print-none">
    <i class="fas fa-file-pdf"></i>Print
  </button>

  <button onclick="generatePDF()" class="pdf-button d-print-none" id="pdfButton">
    <i class="fas fa-file-pdf"></i>PDF
  </button>


   <!-- ✅ 상단 헤더 영역 (스크롤하면 같이 위로 사라짐) -->
  <header class="site-header d-print-none">
    <nav class="toplinks">
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="https://docs.google.com/document/d/1W_OZzRfeHJns1BMMXdq74GmU2znqBCtC/edit?usp=sharing&ouid=113452926778106786423&rtpof=true&sd=true" target="_blank">CV</a>
    </nav>
  </header>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/pdf-generator.js"></script>
</body>

</html>